body {
  position: relative;
  min-width: 1000px;
  min-height: 720px;
  background-image: url(https://i.imgur.com/8tn2xwE.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#h1 {
  position: absolute;
  font-size: 45px;
  font-style: inherit;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  margin: 20px ;
  padding: 12px;
  color: white;
  border-style: solid;
  border-color: rgba(255,0,172,255);
}

#grid {
  width: 720px;
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100% - 124px - 63px)
}

#grid > .lane {
  height: 20%;
  opacity: 0.5;
  border: 2px solid black;
}

#grid > .player {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

#grid > #player1 {
  background-image: url(https://i.imgur.com/jzLdJGI.png?1);
}

#grid > #player1.shoot {
  background-image: url(https://i.imgur.com/RQdMPAM.png);
}

#grid > #player2 {
  background-image: url(https://i.imgur.com/DbCVrZg.png?1);
}

#grid > #player2.shoot {
  background-image: url(https://i.imgur.com/ZDr1Dtk.png);
}

#grid > #player1.exploding, #grid > #player2.exploding {
  background-image: url(https://i.imgur.com/eXymTV4.png);
}

#reset-btn {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%); 
  color : white ;
  margin-top: 25px;
}

.beam.normal {
  left: 0px;
  top: 248.11px;
  height: 80.78px;
  width: 80.78px;
  position: absolute;
}

.beam.reverse {
  right: 0px;
  top: 248.11px;
  height: 80.78px;
  width: 80.78px;
  position: absolute;
}

.beam .start, .beam .main, .beam .end {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.beam .main {
  background-image: url(https://i.imgur.com/Xr8Uh3L.png?4);
  top: 30%;
  bottom: 20%;
  right: 40px;
  left: 40px;
  background-repeat: repeat;
  height: 30px;
  width: auto ;
}

.beam.normal .start {
  background-image: url(https://i.imgur.com/vFGzNAA.png);
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
}

.beam.reverse .start {
  background-image: url(https://i.imgur.com/vFGzNAA.png);
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
}

.beam.normal .end {
  background-image: url(https://i.imgur.com/ZHEdIJy.png);
  top: 0;
  bottom: 0;
  right: 0;
  width: 80px;
}

.beam.reverse .end {
  background-image: url(https://i.imgur.com/ZHEdIJy.png);
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  transform: rotate(180deg);
}
#game-over-box>h1 {
  font-family: 'VT323', monospace;
  font-size: 900%;
  position: absolute;
  top: 42.5%;
  right: 50%;
  transform: translateX(50%); 
  z-index: 10;
  color: black;
  animation: flash 3s infinite;
}

@keyframes flash {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}